/.venv/Lib/site-packages/rest_framework/authtoken/migrations/0001_initial.py
/.venv/Lib/site-packages/rest_framework/authtoken/migrations/0002_auto_20160226_1747.py
/.venv/Lib/site-packages/rest_framework/authtoken/migrations/0003_tokenproxy.py
/.venv/Lib/site-packages/rest_framework/authtoken/migrations/0004_alter_tokenproxy_options.py
/.venv/Lib/site-packages/PIL/__init__.py
/.venv/Lib/site-packages/rest_framework/authtoken/management/commands/__init__.py
/.venv/Lib/site-packages/rest_framework/authtoken/management/__init__.py
/.venv/Lib/site-packages/rest_framework/authtoken/migrations/__init__.py
/.venv/Lib/site-packages/rest_framework/authtoken/__init__.py
/.venv/Lib/site-packages/rest_framework/management/commands/__init__.py
/.venv/Lib/site-packages/rest_framework/management/__init__.py
/.venv/Lib/site-packages/rest_framework/schemas/__init__.py
/.venv/Lib/site-packages/rest_framework/templatetags/__init__.py
/.venv/Lib/site-packages/rest_framework/utils/__init__.py
/.venv/Lib/site-packages/rest_framework/__init__.py
/.venv/Lib/site-packages/tutorial/quickstart/migrations/__init__.py
/.venv/Lib/site-packages/tutorial/quickstart/__init__.py
/.venv/Lib/site-packages/tutorial/__init__.py
/.venv/Lib/site-packages/widget_tweaks/templatetags/__init__.py
/.venv/Lib/site-packages/widget_tweaks/__init__.py
/.venv/Lib/site-packages/PIL/__main__.py
/.venv/Lib/site-packages/PIL/_binary.py
/.venv/Lib/site-packages/PIL/_deprecate.py
/.venv/Lib/site-packages/PIL/_imaging.cp312-win_amd64.pyd
/.venv/Lib/site-packages/PIL/_imaging.pyi
/.venv/Lib/site-packages/PIL/_imagingcms.cp312-win_amd64.pyd
/.venv/Lib/site-packages/PIL/_imagingcms.pyi
/.venv/Lib/site-packages/PIL/_imagingft.cp312-win_amd64.pyd
/.venv/Lib/site-packages/PIL/_imagingft.pyi
/.venv/Lib/site-packages/PIL/_imagingmath.cp312-win_amd64.pyd
/.venv/Lib/site-packages/PIL/_imagingmath.pyi
/.venv/Lib/site-packages/PIL/_imagingmorph.cp312-win_amd64.pyd
/.venv/Lib/site-packages/PIL/_imagingmorph.pyi
/.venv/Lib/site-packages/PIL/_imagingtk.cp312-win_amd64.pyd
/.venv/Lib/site-packages/PIL/_tkinter_finder.py
/.venv/Lib/site-packages/PIL/_typing.py
/.venv/Lib/site-packages/PIL/_util.py
/.venv/Lib/site-packages/PIL/_version.py
/.venv/Lib/site-packages/PIL/_webp.cp312-win_amd64.pyd
/.venv/Lib/site-packages/PIL/_webp.pyi
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/admin.html
/.venv/Lib/site-packages/rest_framework/authtoken/admin.py
/.venv/Lib/site-packages/tutorial/quickstart/admin.py
/.venv/Lib/site-packages/rest_framework/static/rest_framework/js/ajax-form.js
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/api.html
/.venv/Lib/site-packages/rest_framework/static/rest_framework/docs/js/api.js
/.venv/Lib/site-packages/rest_framework/authtoken/apps.py
/.venv/Lib/site-packages/rest_framework/apps.py
/.venv/Lib/site-packages/tutorial/quickstart/apps.py
/.venv/Lib/site-packages/tutorial/asgi.py
/.venv/Lib/site-packages/rest_framework/authentication.py
/.venv/Lib/site-packages/rest_framework/static/rest_framework/docs/css/base.css
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/filters/base.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/base.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/auth/basic.html
/.venv/Lib/site-packages/PIL/BdfFontFile.py
/.venv/Lib/site-packages/PIL/BlpImagePlugin.py
/.venv/Lib/site-packages/PIL/BmpImagePlugin.py
/.venv/Lib/site-packages/rest_framework/static/rest_framework/css/bootstrap.min.css
/.venv/Lib/site-packages/rest_framework/static/rest_framework/css/bootstrap.min.css.map
/.venv/Lib/site-packages/rest_framework/static/rest_framework/js/bootstrap.min.js
/.venv/Lib/site-packages/rest_framework/static/rest_framework/css/bootstrap-theme.min.css
/.venv/Lib/site-packages/rest_framework/static/rest_framework/css/bootstrap-theme.min.css.map
/.venv/Lib/site-packages/rest_framework/static/rest_framework/css/bootstrap-tweaks.css
/.venv/Lib/site-packages/rest_framework/utils/breadcrumbs.py
/.venv/Lib/site-packages/PIL/BufrStubImagePlugin.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/horizontal/checkbox.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/inline/checkbox.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/vertical/checkbox.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/horizontal/checkbox_multiple.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/inline/checkbox_multiple.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/vertical/checkbox_multiple.html
/.venv/Lib/site-packages/rest_framework/checks.py
/.venv/Lib/site-packages/rest_framework/compat.py
/.venv/Lib/site-packages/PIL/ContainerIO.py
/.venv/Lib/site-packages/rest_framework/schemas/coreapi.py
/.venv/Lib/site-packages/rest_framework/static/rest_framework/js/coreapi-0.1.1.js
/.venv/Lib/site-packages/rest_framework/static/rest_framework/js/csrf.js
/.venv/Lib/site-packages/PIL/CurImagePlugin.py
/.idea/dataSources.local.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_20_06_2024_15_14_[Changes]/db.sqlite3
/.venv/Lib/site-packages/PIL/DcxImagePlugin.py
/.venv/Lib/site-packages/PIL/DdsImagePlugin.py
/.venv/Lib/site-packages/rest_framework/decorators.py
/.venv/Lib/site-packages/rest_framework/static/rest_framework/css/default.css
/.venv/Lib/site-packages/rest_framework/static/rest_framework/js/default.js
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/admin/detail.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/horizontal/dict_field.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/inline/dict_field.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/vertical/dict_field.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/admin/dict_value.html
/.venv/Lib/site-packages/rest_framework/locale/ach/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/ar/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/az/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/be/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/bg/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/ca/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/ca_ES/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/cs/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/da/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/de/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/el/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/el_GR/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/en/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/en_AU/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/en_CA/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/en_US/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/es/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/et/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/fa/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/fa_IR/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/fi/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/fr/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/fr_CA/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/gl/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/gl_ES/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/he_IL/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/hu/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/hy/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/id/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/it/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/ja/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/ko_KR/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/lt/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/lv/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/mk/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/nb/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/ne_NP/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/nl/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/nn/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/no/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/pl/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/pt/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/pt_BR/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/pt_PT/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/ro/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/ru/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/ru_RU/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/sk/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/sl/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/sv/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/th/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/tr/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/tr_TR/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/uk/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/vi/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/zh_CN/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/zh_Hans/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/zh_Hant/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/locale/zh_TW/LC_MESSAGES/django.mo
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/document.html
/.venv/Lib/site-packages/rest_framework/documentation.py
/.venv/Lib/site-packages/rest_framework/authtoken/management/commands/drf_create_token.py
/.venv/Lib/site-packages/rest_framework/utils/encoders.py
/.venv/Lib/site-packages/PIL/EpsImagePlugin.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/error.html
/.venv/Lib/site-packages/rest_framework/exceptions.py
/.venv/Lib/site-packages/PIL/ExifTags.py
/.venv/Lib/site-packages/rest_framework/static/rest_framework/docs/img/favicon.ico
/.venv/Lib/site-packages/PIL/features.py
/.venv/Lib/site-packages/rest_framework/utils/field_mapping.py
/.venv/Lib/site-packages/rest_framework/fields.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/horizontal/fieldset.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/inline/fieldset.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/vertical/fieldset.html
/.venv/Lib/site-packages/rest_framework/filters.py
/.venv/Lib/site-packages/PIL/FitsImagePlugin.py
/.venv/Lib/site-packages/PIL/FliImagePlugin.py
/.venv/Lib/site-packages/rest_framework/static/rest_framework/css/font-awesome-4.0.3.css
/.venv/Lib/site-packages/rest_framework/static/rest_framework/fonts/fontawesome-webfont.eot
/.venv/Lib/site-packages/rest_framework/static/rest_framework/fonts/fontawesome-webfont.svg
/.venv/Lib/site-packages/rest_framework/static/rest_framework/fonts/fontawesome-webfont.ttf
/.venv/Lib/site-packages/rest_framework/static/rest_framework/fonts/fontawesome-webfont.woff
/.venv/Lib/site-packages/PIL/FontFile.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/horizontal/form.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/inline/form.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/vertical/form.html
/.venv/Lib/site-packages/rest_framework/utils/formatting.py
/.venv/Lib/site-packages/PIL/FpxImagePlugin.py
/.venv/Lib/site-packages/PIL/FtexImagePlugin.py
/.venv/Lib/site-packages/PIL/GbrImagePlugin.py
/.venv/Lib/site-packages/PIL/GdImageFile.py
/.venv/Lib/site-packages/rest_framework/management/commands/generateschema.py
/.venv/Lib/site-packages/rest_framework/schemas/generators.py
/.venv/Lib/site-packages/rest_framework/generics.py
/.venv/Lib/site-packages/PIL/GifImagePlugin.py
/.venv/Lib/site-packages/PIL/GimpGradientFile.py
/.venv/Lib/site-packages/PIL/GimpPaletteFile.py
/.venv/Lib/site-packages/rest_framework/static/rest_framework/img/glyphicons-halflings.png
/.venv/Lib/site-packages/rest_framework/static/rest_framework/fonts/glyphicons-halflings-regular.eot
/.venv/Lib/site-packages/rest_framework/static/rest_framework/fonts/glyphicons-halflings-regular.svg
/.venv/Lib/site-packages/rest_framework/static/rest_framework/fonts/glyphicons-halflings-regular.ttf
/.venv/Lib/site-packages/rest_framework/static/rest_framework/fonts/glyphicons-halflings-regular.woff
/.venv/Lib/site-packages/rest_framework/static/rest_framework/fonts/glyphicons-halflings-regular.woff2
/.venv/Lib/site-packages/rest_framework/static/rest_framework/img/glyphicons-halflings-white.png
/.venv/Lib/site-packages/PIL/GribStubImagePlugin.py
/.venv/Lib/site-packages/rest_framework/static/rest_framework/docs/img/grid.png
/.venv/Lib/site-packages/rest_framework/static/rest_framework/img/grid.png
/.venv/Lib/site-packages/PIL/Hdf5StubImagePlugin.py
/.venv/Lib/site-packages/rest_framework/static/rest_framework/docs/css/highlight.css
/.venv/Lib/site-packages/rest_framework/static/rest_framework/docs/js/highlight.pack.js
/.venv/Lib/site-packages/rest_framework/utils/html.py
/.venv/Lib/site-packages/rest_framework/utils/humanize_datetime.py
/.venv/Lib/site-packages/PIL/IcnsImagePlugin.py
/.venv/Lib/site-packages/PIL/IcoImagePlugin.py
/.venv/Lib/site-packages/PIL/Image.py
/.venv/Lib/site-packages/PIL/ImageChops.py
/.venv/Lib/site-packages/PIL/ImageCms.py
/.venv/Lib/site-packages/PIL/ImageColor.py
/.venv/Lib/site-packages/PIL/ImageDraw.py
/.venv/Lib/site-packages/PIL/ImageDraw2.py
/.venv/Lib/site-packages/PIL/ImageEnhance.py
/.venv/Lib/site-packages/PIL/ImageFile.py
/.venv/Lib/site-packages/PIL/ImageFilter.py
/.venv/Lib/site-packages/PIL/ImageFont.py
/.venv/Lib/site-packages/PIL/ImageGrab.py
/.venv/Lib/site-packages/PIL/ImageMath.py
/.venv/Lib/site-packages/PIL/ImageMode.py
/.venv/Lib/site-packages/PIL/ImageMorph.py
/.venv/Lib/site-packages/PIL/ImageOps.py
/.venv/Lib/site-packages/PIL/ImagePalette.py
/.venv/Lib/site-packages/PIL/ImagePath.py
/.venv/Lib/site-packages/PIL/ImageQt.py
/.venv/Lib/site-packages/PIL/ImageSequence.py
/.venv/Lib/site-packages/PIL/ImageShow.py
/.venv/Lib/site-packages/PIL/ImageStat.py
/.venv/Lib/site-packages/PIL/ImageTk.py
/.venv/Lib/site-packages/PIL/ImageTransform.py
/.venv/Lib/site-packages/PIL/ImageWin.py
/.venv/Lib/site-packages/PIL/ImImagePlugin.py
/.venv/Lib/site-packages/PIL/ImtImagePlugin.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/index.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/horizontal/input.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/inline/input.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/vertical/input.html
/.venv/Lib/site-packages/rest_framework/schemas/inspectors.py
/.venv/Lib/site-packages/django_widget_tweaks-1.5.0.dist-info/INSTALLER
/.venv/Lib/site-packages/djangorestframework-3.15.2.dist-info/INSTALLER
/.venv/Lib/site-packages/pillow-10.3.0.dist-info/INSTALLER
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/interact.html
/.venv/Lib/site-packages/PIL/IptcImagePlugin.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/langs/javascript.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/langs/javascript-intro.html
/.venv/Lib/site-packages/PIL/Jpeg2KImagePlugin.py
/.venv/Lib/site-packages/PIL/JpegImagePlugin.py
/.venv/Lib/site-packages/PIL/JpegPresets.py
/.venv/Lib/site-packages/rest_framework/static/rest_framework/docs/css/jquery.json-view.min.css
/.venv/Lib/site-packages/rest_framework/static/rest_framework/docs/js/jquery.json-view.min.js
/.venv/Lib/site-packages/rest_framework/static/rest_framework/js/jquery-3.7.1.min.js
/.venv/Lib/site-packages/rest_framework/utils/json.py
/.venv/Lib/site-packages/django_widget_tweaks-1.5.0.dist-info/LICENSE
/.venv/Lib/site-packages/pillow-10.3.0.dist-info/LICENSE
/.venv/Lib/site-packages/djangorestframework-3.15.2.dist-info/LICENSE.md
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/link.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/admin/list.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/horizontal/list_field.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/inline/list_field.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/vertical/list_field.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/horizontal/list_fieldset.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/inline/list_fieldset.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/vertical/list_fieldset.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/admin/list_value.html
/.venv/Lib/site-packages/rest_framework/static/rest_framework/js/load-ajax-form.js
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/login.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/login_base.html
/.venv/Lib/site-packages/PIL/McIdasImagePlugin.py
/.venv/Lib/site-packages/rest_framework/utils/mediatypes.py
/.venv/Lib/site-packages/django_widget_tweaks-1.5.0.dist-info/METADATA
/.venv/Lib/site-packages/djangorestframework-3.15.2.dist-info/METADATA
/.venv/Lib/site-packages/pillow-10.3.0.dist-info/METADATA
/.venv/Lib/site-packages/rest_framework/metadata.py
/.venv/Lib/site-packages/PIL/MicImagePlugin.py
/.venv/Lib/site-packages/rest_framework/mixins.py
/.venv/Lib/site-packages/rest_framework/utils/model_meta.py
/.venv/Lib/site-packages/rest_framework/authtoken/models.py
/.venv/Lib/site-packages/tutorial/quickstart/models.py
/.venv/Lib/site-packages/widget_tweaks/models.py
/.venv/Lib/site-packages/PIL/MpegImagePlugin.py
/.venv/Lib/site-packages/PIL/MpoImagePlugin.py
/.venv/Lib/site-packages/PIL/MspImagePlugin.py
/.venv/Lib/site-packages/rest_framework/negotiation.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/pagination/numbers.html
/.venv/Lib/site-packages/rest_framework/schemas/openapi.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/filters/ordering.html
/.venv/Lib/site-packages/rest_framework/pagination.py
/.venv/Lib/site-packages/PIL/PaletteFile.py
/.venv/Lib/site-packages/PIL/PalmImagePlugin.py
/.venv/Lib/site-packages/rest_framework/parsers.py
/.venv/Lib/site-packages/PIL/PcdImagePlugin.py
/.venv/Lib/site-packages/PIL/PcfFontFile.py
/.venv/Lib/site-packages/PIL/PcxImagePlugin.py
/.venv/Lib/site-packages/PIL/PdfImagePlugin.py
/.venv/Lib/site-packages/PIL/PdfParser.py
/.venv/Lib/site-packages/rest_framework/permissions.py
/.venv/Lib/site-packages/PIL/PixarImagePlugin.py
/.venv/Lib/site-packages/PIL/PngImagePlugin.py
/.venv/Lib/site-packages/PIL/PpmImagePlugin.py
/.venv/Lib/site-packages/rest_framework/static/rest_framework/css/prettify.css
/.venv/Lib/site-packages/rest_framework/static/rest_framework/js/prettify-min.js
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/pagination/previous_and_next.html
/.venv/Lib/site-packages/PIL/PsdImagePlugin.py
/.venv/Lib/site-packages/PIL/PSDraw.py
/.venv/Lib/site-packages/PIL/py.typed
/.venv/Lib/site-packages/PIL/PyAccess.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/langs/python.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/langs/python-intro.html
/.venv/Lib/site-packages/PIL/QoiImagePlugin.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/horizontal/radio.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/inline/radio.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/vertical/radio.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/raw_data_form.html
/.venv/Lib/site-packages/django_widget_tweaks-1.5.0.dist-info/RECORD
/.venv/Lib/site-packages/djangorestframework-3.15.2.dist-info/RECORD
/.venv/Lib/site-packages/pillow-10.3.0.dist-info/RECORD
/.venv/Lib/site-packages/rest_framework/relations.py
/.venv/Lib/site-packages/rest_framework/renderers.py
/.venv/Lib/site-packages/PIL/report.py
/.venv/Lib/site-packages/rest_framework/utils/representation.py
/.venv/Lib/site-packages/rest_framework/request.py
/.venv/Lib/site-packages/django_widget_tweaks-1.5.0.dist-info/REQUESTED
/.venv/Lib/site-packages/djangorestframework-3.15.2.dist-info/REQUESTED
/.venv/Lib/site-packages/pillow-10.3.0.dist-info/REQUESTED
/.venv/Lib/site-packages/rest_framework/response.py
/.venv/Lib/site-packages/rest_framework/templatetags/rest_framework.py
/.venv/Lib/site-packages/rest_framework/reverse.py
/.venv/Lib/site-packages/rest_framework/routers.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/schema.js
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/filters/search.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/horizontal/select.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/inline/select.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/vertical/select.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/horizontal/select_multiple.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/inline/select_multiple.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/vertical/select_multiple.html
/.venv/Lib/site-packages/rest_framework/utils/serializer_helpers.py
/.venv/Lib/site-packages/rest_framework/authtoken/serializers.py
/.venv/Lib/site-packages/rest_framework/serializers.py
/.venv/Lib/site-packages/tutorial/quickstart/serializers.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/auth/session.html
/.venv/Lib/site-packages/rest_framework/settings.py
/.venv/Lib/site-packages/tutorial/settings.py
/.venv/Lib/site-packages/PIL/SgiImagePlugin.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/langs/shell.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/langs/shell-intro.html
/.idea/shelf/Uncommitted_changes_before_Checkout_at_20_06_2024_15_14_[Changes]/shelved.patch
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/sidebar.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/admin/simple_list_value.html
/.venv/Lib/site-packages/PIL/SpiderImagePlugin.py
/.venv/Lib/site-packages/rest_framework/status.py
/.venv/Lib/site-packages/PIL/SunImagePlugin.py
/.venv/Lib/site-packages/PIL/TarIO.py
/.venv/Lib/site-packages/rest_framework/test.py
/.venv/Lib/site-packages/tutorial/quickstart/tests.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/horizontal/textarea.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/inline/textarea.html
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/vertical/textarea.html
/.venv/Lib/site-packages/PIL/TgaImagePlugin.py
/.venv/Lib/site-packages/rest_framework/throttling.py
/.venv/Lib/site-packages/PIL/TiffImagePlugin.py
/.venv/Lib/site-packages/PIL/TiffTags.py
/.venv/Lib/site-packages/rest_framework/utils/timezone.py
/.venv/Lib/site-packages/rest_framework/templates/rest_framework/docs/auth/token.html
/.venv/Lib/site-packages/django_widget_tweaks-1.5.0.dist-info/top_level.txt
/.venv/Lib/site-packages/djangorestframework-3.15.2.dist-info/top_level.txt
/.venv/Lib/site-packages/pillow-10.3.0.dist-info/top_level.txt
/.idea/shelf/Uncommitted_changes_before_Checkout_at_20_06_2024_15_14__Changes_.xml
/.venv/Lib/site-packages/rest_framework/urlpatterns.py
/.venv/Lib/site-packages/rest_framework/utils/urls.py
/.venv/Lib/site-packages/rest_framework/urls.py
/.venv/Lib/site-packages/tutorial/urls.py
/.venv/Lib/site-packages/rest_framework/schemas/utils.py
/.venv/Lib/site-packages/rest_framework/validators.py
/.venv/Lib/site-packages/rest_framework/versioning.py
/.venv/Lib/site-packages/rest_framework/authtoken/views.py
/.venv/Lib/site-packages/rest_framework/schemas/views.py
/.venv/Lib/site-packages/rest_framework/views.py
/.venv/Lib/site-packages/tutorial/quickstart/views.py
/.venv/Lib/site-packages/rest_framework/viewsets.py
/.venv/Lib/site-packages/PIL/WalImageFile.py
/.venv/Lib/site-packages/PIL/WebPImagePlugin.py
/.venv/Lib/site-packages/django_widget_tweaks-1.5.0.dist-info/WHEEL
/.venv/Lib/site-packages/djangorestframework-3.15.2.dist-info/WHEEL
/.venv/Lib/site-packages/pillow-10.3.0.dist-info/WHEEL
/.venv/Lib/site-packages/widget_tweaks/templatetags/widget_tweaks.py
/.venv/Lib/site-packages/PIL/WmfImagePlugin.py
/.idea/workspace.xml
/.venv/Lib/site-packages/tutorial/wsgi.py
/.venv/Lib/site-packages/PIL/XbmImagePlugin.py
/.venv/Lib/site-packages/PIL/XpmImagePlugin.py
/.venv/Lib/site-packages/PIL/XVThumbImagePlugin.py
/.venv/Lib/site-packages/pillow-10.3.0.dist-info/zip-safe
