{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<style>
    td {
        border-style: none;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: gray;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidenav a, .sidenav h2 {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        font-size: 24px;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }

    i.fa {
        margin-left: 4px;
        margin-right: 4px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div id="calendar" class="d-none d-md-flex col-md-4 col-lg-8 p-3"></div>
        <div class="col-md-8 col-lg-4" id="containerForSlideMenu">
            <div id="mySidenav" class="sidenav">
                <h2>Einstellungen</h2>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">Profil</a>
                <a href="{% url 'logout' %}">Ausloggen</a>
            </div>
            <div class="login d-flex py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row my-2">
                                <div class="col-md-9">
                                    <h1 class="login-heading mb-4 my-auto">MyCalendar App</h1>
                                </div>
                                <div class="col-md-3 my-auto" onclick="openNav()" style="cursor: pointer;">
                                    Einstellungen
                                </div>
                            </div>

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="mycalendars-tab" data-toggle="tab" href="#mycalendars" role="tab" aria-controls="mycalendars" aria-selected="true">Meine Kalender</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="editcalendar-tab" data-toggle="tab" href="#editcalendar" role="tab" aria-controls="editcalendar" aria-selected="false">Bearbeiten</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="createcalendar-tab" data-toggle="tab" href="#createcalendar" role="tab" aria-controls="createcalendar" aria-selected="false">Erstellen</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="mycalendars" role="tabpanel" aria-labelledby="mycalendars-tab">
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <ul class="list-group">
                                                {% for calendar in my_calendars %}
                                                <li class="list-group-item ml-3">
                                                    {{ calendar.name }} {% if selected_calendar != calendar.calendar_id %}
                                                    <a type="button" class="btn btn-sm btn-outline-secondary float-right" href="{% url 'home' %}?selected_calendar={{calendar.calendar_id}}">Anzeigen</a>
                                                    {% endif %}
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <hr />
                                            {% if calendars|length > 0 %}
                                            <h4>Event erstellen</h4>
                                            <form method="post" class="mt-3">
                                                {% csrf_token %}
                                                <div class="form-label-group">
                                                    {% render_field event_createform.name class="form-control" id="id_name_event" %}
                                                    <label for="id_name_event">Name des Events:</label>
                                                    {{ event_createform.name.errors }}
                                                </div>
                                                <div class="form-label-group">
                                                    {% render_field event_createform.start_date class="form-control" type="datetime-local" %}
                                                    <label for="id_start_date">Beginn:</label>
                                                    {{ event_createform.start_date.errors }}
                                                </div>
                                                <div class="form-label-group">
                                                    {% render_field event_createform.end_date class="form-control" type="datetime-local" %}
                                                    <label for="id_end_date">Ende:</label>
                                                    {{ event_createform.end_date.errors }}
                                                </div>
                                                <div class="form-label-group">
                                                    {% render_field event_createform.event_type class="form-control" %} {{ event_createform.event_type.errors }}
                                                </div>

                                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" name="action" value="create_event">Erstellen</button>
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="editcalendar" role="tabpanel" aria-labelledby="editcalendar-tab">
                                    <form method="post" class="mt-3">
                                        {% csrf_token %} {{ editform.owner.as_hidden }} {{ editform.calendar_id.as_hidden }}
                                        <div class="form-label-group">
                                            {% render_field editform.calendars class="form-control" onchange="calendarChanged()" %} {{ editform.calendars.errors }}
                                        </div>
                                        <div class="form-label-group">
                                            {% render_field editform.name class="form-control" %}
                                            <label for="id_name">Name:</label>
                                            {{ editform.name.errors }}
                                        </div>
                                        <div class="form-label-group">
                                            {% render_field editform.visible_for class="form-control" %}
                                            <label for="id_visible_for">Sichtbar für:</label>
                                            {{ editform.visible_for.errors }}
                                        </div>
                                        <div class="form-label-group">
                                            {% render_field editform.editable_by class="form-control" %}
                                            <label for="id_editable_by">Bearbeitbar durch:</label>
                                            {{ editform.editable_by.errors }} {{ editform.errors }}
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" name="action" value="edit">Änderung speichern</button>
                                        <button class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2" type="button" data-toggle="modal" data-target="#deleteModal">Kalender löschen</button>
                                        <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Löschen eines Kalenders</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Möchtest du den Kalender wirklich löschen?</p>
                                                        <small>Alle damit verbundenen Events werden ebenfalls unwiderruflich gelöscht.</small>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Doch nicht</button>
                                                        <button class="btn btn-danger" type="submit" name="action" value="delete">Weg damit!</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="createcalendar" role="tabpanel" aria-labelledby="createcalendar-tab">
                                    <form method="post" class="mt-3">
                                        {% csrf_token %}
                                        <div class="form-label-group">
                                            {% render_field createform.name class="form-control" %}
                                            <label for="id_owner">Name des Kalenders</label>
                                            {{ createform.name.errors }}
                                        </div>
                                        <div class="form-label-group">
                                            {% render_field createform.visible_for class="form-control" %}
                                            <label for="id_visible_for">Sichtbar für:</label>
                                            {{ createform.visible_for.errors }}
                                        </div>
                                        <div class="form-label-group">
                                            {% render_field createform.editable_by class="form-control" %}
                                            <label for="id_editable_by">Bearbeitbar durch:</label>
                                            {{ createform.editable_by.errors }}
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" name="action" value="create">Erstellen</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="eventEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" class="mt-3">
                    {% csrf_token %}
                    {{ event_editform.event_id.as_hidden }}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Event bearbeiten</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-label-group">
                            {% render_field event_editform.name class="form-control" id="id_name_edit_event" %}
                            <label for="id_name_edit_event">Name des Events:</label>
                            {{ event_editform.name.errors }}
                        </div>
                        <div class="form-label-group">
                            {% render_field event_editform.start_date class="form-control" type="datetime-local" id="id_edit_start_date" %}
                            <label for="id_edit_start_date">Beginn:</label>
                            {{ event_editform.start_date.errors }}
                        </div>
                        <div class="form-label-group">
                            {% render_field event_editform.end_date class="form-control" type="datetime-local" id="id_edit_end_date" %}
                            <label for="id_edit_end_date">Ende:</label>
                            {{ event_editform.end_date.errors }}
                        </div>
                        <div class="form-label-group">
                            {% render_field event_editform.event_type class="form-control" id="id_edit_event_type" %} {{ event_editform.event_type.errors }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                        <button class="btn btn-primary" type="submit" name="action" value="edit_event">Änderung übernehmen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{ calendars|json_script:"calendar_data" }}{{ events|json_script:"events" }}
<script>
document.addEventListener("DOMContentLoaded", function () {
    // Initialize calendar
    var calendarEl = document.getElementById("calendar");
    var events = JSON.parse(document.getElementById("events").textContent);
    var calendar = new FullCalendar.Calendar(calendarEl, {
        themeSystem: "bootstrap",
        locale: "de",
        firstDay: 1,
        height: "auto",
        initialView: "dayGridMonth",
        weekNumbers: true,
        editable: true,  // Enable drag-and-drop
        droppable: true, // Allow events to be dropped
        eventSources: [
            {
                events: events
            },
        ],
        eventContent: function (args) {
            const icon = args.event.extendedProps.icon;
            const timeString = convertDatetimeForDisplay(args.event.start);
            const title = args.event.title;
            return {
                html: "<i class='fa fa-" + icon + "'></i><div class='fc-event-time'>" + timeString + "</div><div class='fc-event-title' data-toggle='tooltip' title='" + title + "'>" + title + "</div>",
            };
        },
        eventClick: function (info) {
            edit_event_name = document.getElementById("id_name_edit_event");
            edit_event_start = document.getElementById("id_edit_start_date");
            edit_event_end = document.getElementById("id_edit_end_date");
            edit_event_type = document.getElementById("id_edit_event_type");
            edit_event_id = document.getElementById("id_event_id");
            edit_event_id.value = info.event.extendedProps.event_id;
            edit_event_name.value = info.event.title;
            edit_event_start.value = convertDatetimeForEdit(info.event.start);
            if(info.event.end != null) {
                edit_event_end.value = convertDatetimeForEdit(info.event.end);
            }
            edit_event_type.value = info.event.extendedProps.event_type;

            $("#eventEditModal").modal("show");
        },
        eventDrop: function(info) {
            // Handle event drop (drag and drop)
            updateEvent(info.event);
        },
        eventResize: function(info) {
            // Handle event resize
            updateEvent(info.event);
        }
    });
    calendar.render();

    function updateEvent(event) {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch('/update-event/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify({
                event_id: event.extendedProps.event_id,
                start: event.start.toISOString(),
                end: event.end ? event.end.toISOString() : null,
            })
        }).then(response => {
            if (!response.ok) {
                console.error('Event update failed');
            }
        });
    }

    function convertDatetimeForEdit(startTime) {
        let timeString = startTime.getDate() + "." + (startTime.getMonth() + 1) + "." + startTime.getFullYear() + " ";
        timeString += startTime.getHours() + ":" + (startTime.getMinutes() < 10 ? "0" + startTime.getMinutes() : startTime.getMinutes());
        return timeString;
    }

    function convertDatetimeForDisplay(startTime) {
        let timeString = startTime.getUTCHours() + ":" + (startTime.getMinutes() < 10 ? "0" + startTime.getMinutes() : startTime.getMinutes());
        return timeString;
    }
});

function openNav() {
    const container = document.getElementById("containerForSlideMenu").getBoundingClientRect();
    const slider = document.getElementById("mySidenav");
    slider.style.width = container.width + "px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}

function calendarChanged() {
    const calendars = JSON.parse(document.getElementById("calendar_data").textContent);
    const input_calendars = document.getElementById("id_calendars");
    const input_name = document.getElementById("id_name");
    const input_visible_for = document.getElementById("id_visible_for");
    const input_editable_by = document.getElementById("id_editable_by");
    const input_calendar_id = document.getElementById("id_calendar_id");

    calendars.forEach((element) => {
        if (parseInt(element.calendar_id) === parseInt(input_calendars.value)) {
            input_name.value = element.name;
            input_visible_for.value = element.visible_for;
            input_editable_by.value = element.editable_by;
            input_calendar_id.value = element.calendar_id;
        }
    });
}
</script>
{% endblock content %}
